.library {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  &.active {
    transform: translateX(0%);
    opacity: 1;
  }

  h2 {
    padding: 2rem;
  }

  .library-songs {
    display: flex;
    align-items: center;
    flex-direction: column;

    .library-song {
      display: flex;
      align-items: center;
      transition: background 0.3s linear;
      padding: 1rem 2rem;
      cursor: pointer;

      img {
        width: 25%;
      }

      &.active,
      &:hover {
        background: rgb(240, 240, 240);
      }

      .song-info {
        padding-left: 0.8rem;

        h3 {
          font-size: 1rem;
        }
        h4 {
          font-size: 0.8rem;
        }
      }
    }
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
