.song-wrapper {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .cover {
    text-align: center;
    img {
      width: 20%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .lecture-info {
    h2 {
      padding: 3rem 1rem 1rem 1rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .song-wrapper {
    .cover {
      img {
        width: 60%;
      }
    }
  }
}
